@font-face {
    font-family: MyHelvetica;
    src: url('HelveticaNeue-Bold.ttf');
}

body {
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    position: absolute;
}

#intro {
    font-size: 120px;
    font-family: MyHelvetica, sans-serif;
    margin: 0px;
    margin-left: 80px;
    margin-top: 80px;
}

.shape_text {
    font-family: MyHelvetica, sans-serif;
    user-select: none;
    position: absolute;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#square {
    cursor: pointer;
    background-color: #e83544;
    color: #8c121c;
}
#square:hover {
    color: #310509;
}

#circle {
    cursor: pointer;
    background-color: #356ee8;
    color: #173587;
}
#circle:hover {
    color: #0a183f;
}