@font-face {
    font-family: MyHelvetica;
    src: url('../fonts/HelveticaNeue-Bold.ttf');
}

body {
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #e83544;
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    position: absolute;
}

#intro {
    text-align: center;
    font-size: 48px;
    font-family: MyHelvetica, sans-serif;
    margin: 0px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    user-select: none;
    color: #8c121c;
}
/* mid size: */
@media only screen and (min-width: 600px) {
    #intro {
        text-align: center;
        font-size: 72px;
        font-family: MyHelvetica, sans-serif;
        margin: 0px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* desktop size: */
@media only screen and (min-width: 1000px) {
    #intro {
        text-align: left;
        font-size: 120px;
        font-family: MyHelvetica, sans-serif;
        margin: 100px;
        margin-top: 70px;
    }
}

.shape_text {
    font-family: MyHelvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    position: absolute;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#eel {
    cursor: pointer;
    background-color: #8c121c;
    color: #e83544;
}
#eel:hover {
    color: #f35e6b;
}
#clicks {
    cursor: pointer;
    background-color: #8c121c;
    color: #e83544;
}
#clicks:hover {
    color: #f35e6b;
}
#clock {
    cursor: pointer;
    background-color: #8c121c;
    color: #e83544;
}
#clock:hover {
    color: #f35e6b;
}
#tugofwar {
    cursor: pointer;
    background-color: #8c121c;
    color: #e83544;
}
#tugofwar:hover {
    color: #f35e6b;
}
#back {
    cursor: pointer;
    background-color: white;
    color: black;
}
#back:hover {
    color: #474747;
}