.popup {
    font-family: MyHelvetica;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    visibility: hidden;
    overflow-y: scroll;
}
.back {
    position: absolute;
    left: 22px;
    top: 48px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.about_img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.popup h2 {
    font-size: 32px;
    margin-top: 40px;
    margin-left: 64px;
    margin-right: 60px;
    margin-bottom: 5px;
    color: #8e6100;
}
.popup p {
    font-size: 16px;
    margin-left: 64px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 18px;
    color: #8e6100;
}
.popup p.middle {
    margin-bottom: 20px;
}
.popup p.last {
    margin-bottom: 40px;
}
.popup a {
    text-decoration: underline;
    color: #8e6100;
}
.popup a:hover {
    text-decoration: underline;
    background-color: #8e6100;
    color: #ffdf00;
}
/* mid size */
@media only screen and (min-width: 600px) {
    .back {
        left: 36px;
        top: 52px;
        width: 35px;
        height: 35px;
    }
    .about_img {
        height: 350px;
        width: 350px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .popup h2 {
        font-size: 43px;
        margin-top: 42px;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 8px;
    }
    .popup p {
        font-size: 18px;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .popup p.last {
        margin-bottom: 60px;
    }
}
/* desktop size */
@media only screen and (min-width: 1000px) {
    .back {
        left: 60px;
        top: 88px;
        width: 58px;
        height: 58px;
    }
    .about_img {
        height: 450px;
        width: 450px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .popup h2 {
        font-size: 72px;
        margin-top: 70px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 10px;
    }
    .popup p {
        font-size: 24px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .popup p.middle {
        margin-bottom: 50px;
    }
    .popup p.last {
        margin-bottom: 80px;
    }
}