@font-face {
    font-family: MyHelvetica;
    src: url('../fonts/HelveticaNeue-Bold.ttf');
}

body {
    margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #356ee8;
    user-select: none;
    -webkit-user-select: none;
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    position: absolute;
}

#intro {
    text-align: center;
    font-size: 48px;
    font-family: MyHelvetica, sans-serif;
    margin: 0px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    user-select: none;
    color: #173587;
}
/* mid size: */
@media only screen and (min-width: 600px) {
    #intro {
        text-align: center;
        font-size: 72px;
        font-family: MyHelvetica, sans-serif;
        margin: 0px;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* desktop size: */
@media only screen and (min-width: 1000px) {
    #intro {
        text-align: left;
        font-size: 120px;
        font-family: MyHelvetica, sans-serif;
        margin: 100px;
        margin-top: 70px;
    }
}

.shape_text {
    font-family: MyHelvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    position: absolute;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.shape_year {
    font-family: MyHelvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    position: absolute;
    margin: 0px;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, 0%);
}

#corn_catcher {
    cursor: pointer;
    background-color: #173587;
    color: #356ee8;
    visibility: hidden;
}
#corn_catcher:hover .shape_text {
    color: #5e90fc;
}
#scotty_reports {
    cursor: pointer;
    background-color: #173587;
    color: #356ee8;
    visibility: hidden;
}
#scotty_reports:hover .shape_text {
    color: #5e90fc;
}
#favorite_foods {
    cursor: pointer;
    background-color: #173587;
    color: #356ee8;
    visibility: hidden;
}
#favorite_foods:hover .shape_text {
    color: #5e90fc;
}
#portfolio_site {
    cursor: pointer;
    background-color: #173587;
    color: #356ee8;
    visibility: hidden;
}
#portfolio_site:hover .shape_text {
    color: #5e90fc;
}
#finulator {
    cursor: pointer;
    background-color: #173587;
    color: #356ee8;
    visibility: hidden;
}
#finulator:hover .shape_text {
    color: #5e90fc;
}
#back {
    cursor: pointer;
    background-color: white;
    color: black;
    visibility: hidden;
}
#back:hover {
    color: #474747;
}